<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Plantprism</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/plantprism-180x180.png" />
    <link rel="icon" sizes="192x192" href="static/plantprism-192x192.png" />
    <link rel="icon" sizes="128x128" href="static/plantprism-128x128.png" />
    <link rel="icon" sizes="32x32" href="static/plantprism-32x32.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="static/plantprism.js?v={{.Version}}"></script>
    <script>
      var deviceID = "{{.DeviceID}}";
      $(document).ready(function() {
        FetchPlantDB();
        InitUI();
        StartStream();
      });
    </script>
  </head>
  <style>
    body {
	font-family:"Google Sans",Arial,sans-serif;
    }
    img.sprout {
	width:22mm;
    }
    img.empty {
	width:22mm;
    }
    td.slot {
	border:4px ridge;
	text-align:center;
    }
    td.layer {
	font-size:24pt;
	writing-mode:vertical-lr;
	text-align:center;
    }
    td.frontback {
	text-align:center;
    }
    td.envIntro {
	text-align:right;
	vertical-align:top;
    }
    td.envLight {
	font-size:24pt;
    }
    span.tankBlock {
	width:3em;
	display:inline-block;
    }
    span.tankBlock.full {
	background-color:cornflowerblue;
    }
    span.tankBlock.empty {
	background-image:repeating-linear-gradient(225deg, #FFF 5%, #000 10%, #FFF 15%, #fff 25%);
    }
    .ui-widget button {
	font-family:"Google Sans",Arial,sans-serif;
	font-size:9pt;
    }
    .ui-tabs .ui-tabs-panel {
	padding: 0em 0em;
    }
  </style>
  <body>
    <div id="add-plant" title="Add plant">
      <form>
	<input type="hidden" name="id" id="id" value="" />
	<input type="hidden" name="slot" id="slot" value="" />
	<fieldset>
	  <label for="plantType">Plant type</label>
	  <select name="plantType" id="plantType">
	  </select>
	</fieldset>
      </form>
    </div>
    <div id="plant-info" title="Plant information">
      <form>
	<input type="hidden" name="slot" id="slot" value="" />
      </form>
      <ul>
        <li>Name: <span id="plantInfo-Name" />
	<li>Planted: <span id="plantInfo-Planted" />
	<li>Harvest from: <span id="plantInfo-HarvestFrom" />
	<li>Harvest by: <span id="plantInfo-HarvestBy" />
      </ul>
    </div>
    <div id="confirm-harvest" title="Really harvest?">
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span><span>Are you sure you want to harvest </span><span id="confirmHarvest-Name"></span><span> ?</span></p>
      <form>
	<input type="hidden" name="id" id="id" value="" />
	<input type="hidden" name="slot" id="slot" value="" />
      </form>
    </div>
    <div id="tabs">
      <ul>
	<li><a href="#tabPlants">Plants</a></li>
	<li><a href="#tabStatus">Status</a></li>
	<li><a href="#tabControl">Control</a></li>
      </ul>
      <div id="tabPlants">
	<table>
	  <tr>
	    <td rowspan="5" class="layer">TOP</td>
	    <td colspan="3" class="frontback">Back</td>
	  </tr>
	  <tr>
	    <td class="slot">{{template "button" .Slots.b1}}</td>
	    <td class="slot">{{template "button" .Slots.b2}}</td>
	    <td class="slot">{{template "button" .Slots.b3}}</td>
	  </tr>
	  <tr>
	    <td class="slot">{{template "button" .Slots.b4}}</td>
	    <td class="slot">{{template "button" .Slots.b5}}</td>
	    <td class="slot">{{template "button" .Slots.b6}}</td>
	  </tr>
	  <tr>
	    <td class="slot">{{template "button" .Slots.b7}}</td>
	    <td class="slot">{{template "button" .Slots.b8}}</td>
	    <td class="slot">{{template "button" .Slots.b9}}</td>
	  </tr>
	  <tr>
	    <td colspan="3" class="frontback">Front</td>
	  </tr>
	  <tr>
	    <td colspan="4">&nbsp;</td>
	  </tr>
	  <tr>
	    <td rowspan="5" class="layer">BOTTOM</td>
	    <td colspan="3" class="frontback">Back</td>
	  </tr>
	  <tr>
	    <td class="slot">{{template "button" .Slots.a1}}</td>
	    <td class="slot">{{template "button" .Slots.a2}}</td>
	    <td class="slot">{{template "button" .Slots.a3}}</td>
	  </tr>
	  <tr>
	    <td class="slot">{{template "button" .Slots.a4}}</td>
	    <td class="slot">{{template "button" .Slots.a5}}</td>
	    <td class="slot">{{template "button" .Slots.a6}}</td>
	  </tr>
	  <tr>
	    <td class="slot">{{template "button" .Slots.a7}}</td>
	    <td class="slot">{{template "button" .Slots.a8}}</td>
	    <td class="slot">{{template "button" .Slots.a9}}</td>
	  </tr>
	  <tr>
	    <td colspan="3" class="frontback">Front</td>
	  </tr>
	</table>
      </div>
      <div id="tabStatus">
	<table>
	  <tr>
	    <td rowspan="4" class="envIntro">Top:</td>
	  </tr>
	  <tr>
	    <td class="envTemp"><span id="tempA">??.?</span>°C</td>
	  </tr>
	  <tr>
	    <td class="envHumid"><span id="humidA">??</span>%</td>
	  </tr>
	  <tr>
	    <td class="envLight"><span id="lightA">?</span></td>
	  </tr>
	  <tr>
	    <td rowspan="4" class="envIntro">Bottom:</td>
	  </tr>
	  <tr>
	    <td class="envTemp"><span id="tempB">??.?</span>°C</td>
	  </tr>
	  <tr>
	    <td class="envHumid"><span id="humidB">??</span>%</td>
	  </tr>
	  <tr>
	    <td class="envLight"><span id="lightB">?</span></td>
	  </tr>
	  <tr>
	    <td rowspan="4" class="envIntro">Tank:</td>
	  </tr>
	  <tr>
	    <td class="envTemp"><span id="tempTank">??.?</span>°C</td>
	  </tr>
	  <tr>
	    <td class="envLevel"><span class="tankBlock" id="tankLevel0">&nbsp;</span><span class="tankBlock" id="tankLevel1">&nbsp;</span></td>
	  </tr>
	</table>
      </div>
      <div id="tabControl">
	<p>TODO: Cleaning, cinema, silent, etc. controls will appear here</p>
      </div>
    </div>
    <a href="static/credits.html">Credits</a>
  </body>
</html>
{{define "button"}}
  {{if .Planted}}
    <button id="slot-{{.Slot}}" class="slot-plant" data-slot="{{.Slot}}" data-name="{{.PlantName}}" data-plantingtime="{{.PlantingTime}}" data-harvestfrom="{{.HarvestFrom}}" data-harvestby="{{.HarvestBy}}">
      <img class="sprout" src="static/sprout.png"/>
      <div class="slot-name">{{.PlantName}}</div>
    </button>
  {{- else}}
    <button id="slot-{{.Slot}}" class="slot-empty" data-slot="{{.Slot}}">
      <img class="empty" src="static/blank.png"/>
      <div class="slot-name">&nbsp;</div>
    </button>
  {{- end}}
{{end}}
